* {
  -webkit-tap-highlight-color: transparent;
}

#root {
  width: 100%;
}
#hi {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hi a {
  background: linear-gradient(180deg, #f13b3b 60%, rgb(202, 185, 185));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#hi em {
  background: transparent;
  font-style: normal;
}
#intro {
  /* padding-top: 35vh; */
  width: fit-content;
}
#profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* margin-top: 27vh; */
  margin-left: 30px;
  border: 2px solid black;
}
#first-i {
  width: 21px;
  overflow: hidden;
  margin-right: 20px;
  transform: translate(0, 10px);
}
#second-i {
  width: 43px;
  overflow: hidden;
  direction: rtl;
  margin-left: 10px;
  transform: translate(0, 10px);
}
#hi p {
  padding: 2px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  background-color: rgb(250, 249, 247);
  box-shadow: rgba(168, 74, 30, 0.281) 0px 2px 8px 0px;
}
#hi-text2 {
  display: flex;
  flex-direction: column;
  align-items: end;
}
#hi p em {
  color: #f13b3b;
}
#work {
  background: rgb(232, 229, 240);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}
#work h1 {
  margin: auto;
  /* font-size: 30px; */
  font-family: "Archivo Black", sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 80%;
}
.work-flex a {
  display: flex;
}
.work-image {
  box-shadow: rgba(218, 74, 74, 0.863) 0px 1px 10px, rgb(0, 3, 26) 0px 1px 2px;
  width: 60%;
  max-width: 600px;
  margin: auto;
}
.full {
  width: 90%;
}

#work p {
  font-size: 1.7em;
  max-width: 500px;
  margin-left: 18px;
  text-align: justify;
}
#work li {
  max-width: 500px;
}
#work h2 {
  font-size: 2.5em;
  font-family: "Archivo Black", sans-serif;
  margin-left: 3px;
  background: linear-gradient(180deg, rgb(96, 73, 226) 60%, rgb(216, 132, 174));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1px;
}
.work-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  max-width: 90%;
  margin: auto;
  gap: 20px;
}
.division {
  width: 80%;
  height: 2px;
  margin: 20px auto;
  background: black;
}
#navbar {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  background: linear-gradient(180deg, rgb(238, 208, 217), transparent);
}

#navbar ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: inherit;
}
#navbar li {
  display: inline-block;
  margin: auto 10px auto 10px;
  font-size: 2.5em;
  border-bottom: 2px solid black;
}
#navbar li a {
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  color: rgb(34, 38, 41);
  position: relative;
  user-select: none;
}
.nav-highlight {
  width: 0%;
  height: 50px;
  position: absolute;
  right: 0;
  transform: translate(0, -50px);
  background: rgba(228, 7, 7, 0.37);
  z-index: -1;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.nav-link:hover .nav-highlight {
  width: 100%;
}
#contact {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgb(24, 22, 24), rgb(33, 31, 34));
}
.social {
  margin: 5vw;
}
.social i {
  font-size: 4em;
  color: antiquewhite;
  text-align: center;
  margin: auto;
}
.social a {
  text-decoration: none;
}
.social p {
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 1.1em;
  color: bisque;
}
.mail {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 855px) {
  #hi {
    flex-direction: column-reverse;
    align-items: center;
  }
  #hi-pic {
    margin-top: -10%;
  }
  #profile-pic {
    margin: auto;
  }
  #hi-text2 {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .work-flex {
    flex-direction: column;
  }
  #music-app-img {
    width: 60%;
    margin: auto;
  }
  #choropleth-map-img {
    width: 100%;
  }
  #stars-above-img {
    width: 100%;
  }
  #intro {
    margin: auto;
  }
  #work p {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 568px) {
  #work h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 520px) {
  #intro {
    font-size: 2em;
  }
  #first-i {
    width: 10px;
    overflow: hidden;
    margin-right: 10px;
    transform: translate(0, 8px);
  }
  #second-i {
    width: 27px;
    overflow: hidden;
    direction: rtl;
    margin-left: 0;
    transform: translate(0, 8px);
  }
  #navbar li {
    font-size: 2em;
  }

  .social {
    margin: 3vw;
  }
}
